@import 'loader.css';

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
}

[hidden] {
	display: none !important;
}

img {
	width: 100%;
}

main {
	align-items: center;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 500ms ease-in-out forwards;
}

.card {
	background-color: white;
	box-shadow: 0 4px 36px rgba(0, 0, 0, 0.6);
	/* 400px */
	max-width: 25rem;
	opacity: 0;
}

.card-bio {
	padding: 1.5rem;
}

.card-bio ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.name {
	font-weight: 500;
	font-size: 2rem;
	margin-bottom: .75rem;
	text-transform: uppercase;
}

.company {
	color: darkslategray;
	/* 14px */
	font-size: 0.875rem;
}

.url a {
	font-size: 0.875rem;
	color: slateblue;
	transition: color 225ms ease-in-out;
}

.url a:hover {
	color: orangered;
}
